<%- include('partials/header')-%>

  <body>
    <section class="text-center text-light bg-dark jumbotron jumbotron-fluid">
      <h4>
        <span class="text-success">NIGERIA</span> COVID-19
        <span class="text-success"> REPORT</span>
      </h4>
      <img src="../images/coat1.png" width="100px" height="80px">
      <img src="../images/cov1.png" width="130px" height="85px" margin-left="500">
    </section>

    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-3 text-white bg-dark">
            <div class="card-header nigeria text-center bg-success"></div>
            <div class="card-body row">
              <div class="col-sm-3 text-center mt-3">
                <h6 class="card-title">Confirmed</h6>
                <p class="nigeria__confirmed_cases card-text btn btn-outline-primary">
                  <%= data.totalConfirmedCases %>
                </p>
              </div>

              <div class="col-sm-3 text-center mt-3">
                <h6 class="card-title">Active </h6>
                <p class="nigeria__active_cases card-text btn btn-outline-warning">
                  <%= data.totalActiveCases %>
                </p>
              </div>

              <div class="col-sm-3 text-center mt-3">
                <h6 class="card-title">Discharged</h6>
                <p class="nigeria__discharge_cases card-text btn btn-outline-success">
                  <%= data.discharged %>
                </p>
              </div>

              <div class="col-sm-3 text-center mt-3">
                <h6 class="card-title">Death</h6>
                <p class="nigeria__death_cases card-text btn btn-outline-danger">
                  <%= data.death %>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <section class="row">
        <div class="input-group mb-3 md-form mt-0 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">search</span>
          </div>
          <input type="text" class="form-control" placeholder="by state name" id="filter" name="filter" aria-label="state name" />
        </div>
      </section>

      <section class="row states mt-5 mb-2">
        <%  states.forEach((state)=>{%>
          <div class="col-sm-6 states-collection">
            <div class="card mb-3 text-white bg-success">
              <div class="card-header  text-center bg-dark">
                <%= state.state%>
              </div>
              <div class="card-body row text-center mt-3">
                <div class="col-sm-3 mt-3">
                  <h6 class="card-title">Confirmed</h6>
                  <p class=" card-text btn btn-outline-primary">
                    <%= state.confirmedCases%>
                  </p>
                </div>

                <div class="col-sm-3 mt-3">
                  <h6 class="card-title">Active</h6>
                  <p class=" card-text btn btn-outline-warning">
                    <%= state.casesOnAdmission%>
                  </p>
                </div>

                <div class="col-sm-3 mt-3">
                  <h6 class="card-title">Discharged </h6>
                  <p class="card-text btn btn-outline-dark">
                    <%= state.discharged%>
                  </p>
                </div>

                <div class="col-sm-3 mt-3">
                  <h6 class="card-title">Death </h6>
                  <p class=" card-text btn btn-outline-danger">
                    <%= state.death%>
                  </p>
                </div>

              </div>
            </div>
          </div>

          <% })%>
      </section>
    </main>
    <%- include('partials/footer')-%>